<h2>{{ titre }}</h2>

<main>
  <a routerLink="/add">
    <button mat-flat-button color="accent">Ajouter un devoir</button>
  </a>

  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input
        matInput
        type="text"
        (keyup)="rechercher($any($event))"
        placeholder="Rechercher un devoir"
      />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($any($event))"
    >
      <ng-container matColumnDef="nom" >
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par nom"
        >
          Nom
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="matiere">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par matière"
        >
          Matière
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.matiere }}</td>
      </ng-container>

      <ng-container matColumnDef="classe">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par classe"
        >
          Classe
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.classe }}</td>
      </ng-container>

      <ng-container matColumnDef="prof">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par professeur"
        >
          Professeur
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.prof }}</td>
      </ng-container>

      <ng-container matColumnDef="rendu">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par rendu"
        >
          Rendu
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.rendu }}</td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par note"
        >
          Note
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.note }}</td>
      </ng-container>

      <ng-container matColumnDef="dateDeRendu">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par data"
        >
          Date de rendu
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">{{ a.dateDeRendu | date:'medium' }}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th class="tableProperty"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Trier par image"
        >
          Image
        </th>
        <td class="tableEntry" mat-cell *matCellDef="let a">
          
          <div *ngIf="a.image != null;">
            <img src={{a.image}} width="100" height="100">
          </div>

        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>details</th>
        <td mat-cell *matCellDef="let a" (click)="assignmentClique(a)">
          DETAILS
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="assignmentClique(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    <mat-paginator
      [length]="totalAssignments"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>

  <!-- <table mat-table class="mat-elevation-z8"> 
  <thead>
  <tr>
    <th>Nom</th>
    <th>Date de rendu</th>
    <th>Statut de rendu</th>
    <th>Note</th>
    <th>Professeur</th>
    <th>Matière</th>
    <th>Classe</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let a of assignments | filter:searchText">
      <td>{{a.nom}}</td>
      <td>{{a.dateDeRendu | date}}</td>
      <td>{{a.rendu}}</td>
      <td>{{a.note}}</td>
      <td>{{a.prof}}</td>
      <td>{{a.matiere}}</td>
      <td>{{a.classe}}</td>
      <td>
        <img src="{{a.image}}" alt="Red dot" />
      </td>
  </tr>
  </tbody>
</table> -->

  <!-- <mat-list *ngFor="let a of assignments | filter:searchText">
    <nav>
    <a routerLink="/assignment/{{a.id}}">
      <mat-list-item>
        <h3 mat-line>{{a.nom}}</h3>
        <p mat-line>{{a.dateDeRendu | date}}</p>
        <mat-icon mat-list-icon *ngIf="a.rendu">done</mat-icon>
      </mat-list-item>
    <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
    <mat-list-item [ngClass]="{'rendu':a.rendu, 'nonRendu':!a.rendu}"
                   (click)="assignmentClique(a)"
    >

      <p *ngIf="a.rendu; else nonsoumis">
        {{a.nom}} a été rendu.
      </p>
      <ng-template #nonsoumis>
        <p>
          {{a.nom}} n'a pas été rendu à temps.
        </p>
      </ng-template>
      <mat-divider></mat-divider>
    </mat-list-item>
    </a>
    </nav>
  </mat-list> -->
</main>
