th.mat-sort-header-sorted {
  color: black;
}
.rendu {
  color:green;
}
.nonRendu {
  color:red;
}

.main-wrapper {
  padding-bottom: 5px;
}

table {
  width: 100%;
}

.assignement-table {
  margin: 15px;
}

table, .mat-table, .mat-mdc-table {
  border-collapse: collapse;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
}

th, td {
  overflow: hidden;
  padding: 10px 0;
}

.table-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.addButton {
  width: 20%;
  text-align: center;
  margin-bottom: 10px;
}

.recherche {
  width: 40%;
  text-align: center;
  margin-bottom:0px;
  margin-top: 5px;
}

.titre {
  margin-left: 30%;
  width: 40%;
  text-align: center;
  margin-bottom: 10px;
}

.checkBox {
  width: 40%;
  text-align: center;
  margin-bottom: 10px;
}

.mat-mdc-row .mat-mdc-cell {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.tableEntry {
  text-align: center;
  padding: 5px;
  max-width: 100px !important;
  min-width: 100px !important;
}

.tableProperty {
  max-width: 100px !important;
  min-width: 100px !important;
}