<!-- <mat-card *ngIf="assignmentTransmis">
  <h1 class="mainTitle">Détails du devoir {{ assignmentTransmis.nom }}</h1>

  <mat-card-title mat-card-title class="nomPropriété">
    Date de rendu : 
  </mat-card-title>

  <mat-card-subtitle class="valeurPropriété">
    {{ assignmentTransmis.dateDeRendu | date }}
  </mat-card-subtitle>

  <mat-card-title mat-card-title class="nomPropriété">
    Nom du professeur : 
  </mat-card-title>

  <mat-card-subtitle class="valeurPropriété">
    {{ assignmentTransmis.prof }}
  </mat-card-subtitle>

  <mat-card-title mat-card-title class="nomPropriété"> 
    Nom de la matière : 
  </mat-card-title>

  <mat-card-subtitle class="valeurPropriété">
    {{ assignmentTransmis.matiere }}
  </mat-card-subtitle>
  
  <mat-card-title mat-card-title class="nomPropriété">
    Description du devoir : 
  </mat-card-title>

  <mat-card-subtitle class="valeurPropriété">
    {{ assignmentTransmis.description }}
  </mat-card-subtitle>
  
  <mat-card-title mat-card-title class="nomPropriété">
    Classe : 
  </mat-card-title>

  <mat-card-subtitle class="valeurPropriété">
    {{ assignmentTransmis.classe }}
  </mat-card-subtitle>

  <mat-card-title mat-card-title class="nomPropriété"> 
    Statut de rendu : 
  </mat-card-title>


  <mat-card-subtitle *ngIf="assignmentTransmis.rendu; else nonsoumis" class="valeurPropriété">
    {{assignmentTransmis.nom}} a été rendu.
  </mat-card-subtitle>
  <ng-template #nonsoumis>
    <mat-card-subtitle class="valeurPropriété">
      {{assignmentTransmis.nom}} n'a pas été rendu à temps.
    </mat-card-subtitle>  
  </ng-template>

  <mat-card-title class="nomPropriété">
    Note : 
  </mat-card-title>

  <mat-card-subtitle *ngIf="assignmentTransmis.rendu; else pasDeNote" class="valeurPropriété">
    {{assignmentTransmis.note}}
  </mat-card-subtitle>
  <ng-template #pasDeNote>
    <mat-card-subtitle class="valeurPropriété">
      Le devoir n'a pas encore été soumis.
    </mat-card-subtitle>
  </ng-template>

  <mat-checkbox
    class="checkBoxRendu"
    *ngIf="!assignmentTransmis.rendu"
    [checked]="assignmentTransmis.rendu"
    (click)="onAssignmentRendu()"
  >
    Devoir rendu
  </mat-checkbox>

  <div *ngIf="isAdmin">
    <button
      class="actionButtons"
      mat-flat-button
      color="primary"
      (click)="modifierAssignment(assignmentTransmis)"
    >
      Modifier
    </button>

    <button
      class="actionButtons"
      mat-flat-button
      color="warn"
      (click)="onDeleteAssignment()"
    >
      Supprimer
    </button>
  </div>

  <button
    class="actionButtons"
    mat-flat-button
    color="warn"
    (click)="onDeleteAssignment()"
  >
    Supprimer
  </button>
</mat-card> -->

<div class="main-wrapper" *ngIf="assignmentTransmis">
  <div class="title">
    <h1 class="mainTitle">Détails du devoir de {{ assignmentTransmis.nom }}</h1>
  </div>

  <div class="content-wrapper">
    <div class="grade-info">
      <div class="grade">
        <div class="value">
          {{ assignmentTransmis.rendu ? assignmentTransmis.note : 'N/A'}}
        </div>
        <div class="desc">
          Note
        </div>
      </div>
      <div class="assignment-status">
        <div class="value">
          {{assignmentTransmis.rendu ? 'Rendu à temps' : 'Non soumis à temps'}}
        </div>
      </div>
      <div class="assignment-date">
        <div class="value">
          {{ assignmentTransmis.dateDeRendu | date }}
        </div>
        <div class="desc">
          <mat-icon>date_range</mat-icon>
          <span style="margin-left: 10px;">Date de rendu</span>
        </div>
      </div>
    </div>
    <div class="assignment-desc">
      <div class="desc">
        <mat-icon>description</mat-icon>
        Description
      </div>
      <div class="value">
        {{ assignmentTransmis.description }}
      </div>
    </div>
    <div class="other-info">
      <div class="student-info">
        <div class="subtitle">
          Eleve
        </div>
        <div class="student">
          <div class="name">
            <div class="desc">
              <mat-icon>face</mat-icon>
              Nom :
            </div>
            <div class="value">
              {{ assignmentTransmis.nom }}
            </div>
          </div>
          <div class="class">
            <div class="desc">
              <mat-icon>group</mat-icon>
              Classe :
            </div>
            <div class="value">
              {{ assignmentTransmis.classe }}
            </div>
          </div>
        </div>
      </div>
      <div class="teacher-info">
        <div class="subtitle">
          Professeur
        </div>
        <div class="teacher">
          <div class="name">
            <div class="desc">
              <mat-icon>face</mat-icon>
              Nom :
            </div>
            <div class="value">
              {{ assignmentTransmis.prof }}
            </div>
          </div>
          <div class="matiere">
            <div class="desc">
              <mat-icon>book</mat-icon>
              Matière :
            </div>
            <div class="value">
              {{ assignmentTransmis.matiere }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-toolbar class="actions mat-elevation-z4">
    <mat-checkbox
      class="checkBoxRendu"
      *ngIf="!assignmentTransmis.rendu"
      [checked]="assignmentTransmis.rendu"
      (click)="onAssignmentRendu()"
    >
      <span class="checkbox-text">
        Devoir rendu
      </span> 
    </mat-checkbox>

    <button
      class="actionButtons"
      mat-flat-button
      color="primary"
      (click)="modifierAssignment(assignmentTransmis)"
    >
      Modifier
    </button>

    <button
      class="actionButtons"
      mat-flat-button
      color="warn"
      (click)="onDeleteAssignment()"
    >
      Supprimer
    </button>
  </mat-toolbar>
</div>
