<div class="main-wrapper" *ngIf="assignmentTransmis">
  <div class="title">
    <h1 class="mainTitle">Détails du devoir de {{ assignmentTransmis.nom }}</h1>
  </div>

  <div class="content-wrapper">
    <div class="grade-info">
      <div class="grade">
        <div class="value">
          {{ assignmentTransmis.rendu ? assignmentTransmis.note : 'N/A'}}
        </div>
        <div class="desc">
          Note
        </div>
      </div>
      <div class="assignment-status">
        <div class="value">
          {{assignmentTransmis.rendu ? 'Rendu à temps' : 'Non soumis à temps'}}
        </div>
      </div>
      <div class="assignment-date">
        <div class="value">
          {{ assignmentTransmis.dateDeRendu | date }}
        </div>
        <div class="desc">
          <mat-icon>date_range</mat-icon>
          <span style="margin-left: 10px;">Date de rendu</span>
        </div>
      </div>
    </div>
    <div class="assignment-desc">
      <div class="desc">
        <mat-icon>description</mat-icon>
        Description
      </div>
      <div class="value">
        {{ assignmentTransmis.description }}
      </div>
    </div>
    <div class="other-info">
      <div class="student-info">
        <div class="subtitle">
          Eleve
        </div>
        <div class="student">
          <div class="name">
            <div class="desc">
              <mat-icon>face</mat-icon>
              Nom :
            </div>
            <div class="value">
              {{ assignmentTransmis.nom }}
            </div>
          </div>
          <div class="class">
            <div class="desc">
              <mat-icon>group</mat-icon>
              Classe :
            </div>
            <div class="value">
              {{ assignmentTransmis.classe }}
            </div>
          </div>
        </div>
      </div>
      <div class="teacher-info">
        <div class="subtitle">
          Professeur
        </div>
        <div class="teacher">
          <div class="name">
            <div class="desc">
              <mat-icon>face</mat-icon>
              Nom :
            </div>
            <div class="value">
              {{ assignmentTransmis.prof }}
            </div>
          </div>
          <div class="matiere">
            <div class="desc">
              <mat-icon>book</mat-icon>
              Matière :
            </div>
            <div class="value">
              {{ assignmentTransmis.matiere }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="imageProf">
      <img src={{assignmentTransmis.image}} width="250" height="250">
    </div>

  </div>
  <mat-toolbar class="actions mat-elevation-z4">
    <mat-checkbox
      class="checkBoxRendu"
      *ngIf="!assignmentTransmis.rendu"
      [checked]="assignmentTransmis.rendu"
      (click)="onAssignmentRendu()"
    >
      <span class="checkbox-text">
        Devoir rendu
      </span> 
    </mat-checkbox>

    <div *ngIf="isAdmin; else nonAdminModifier">
      <button
        class="actionButtons"
        mat-flat-button
        color="primary"
        (click)="modifierAssignment(assignmentTransmis)"
      >
        Modifier
      </button>

      <button
        class="actionButtons"
        mat-flat-button
        color="warn"
        (click)="onDeleteAssignment()"
      >
        Supprimer
      </button>
    </div>
    <ng-template #nonAdminModifier>
      <button
        disabled
        class="actionButtons"
        mat-flat-button
        color="primary"
        (click)="modifierAssignment(assignmentTransmis)"
      >
        Modifier
      </button>

      <button
        disabled
        class="actionButtons"
        mat-flat-button
        color="warn"
        (click)="onDeleteAssignment()"
      >
        Supprimer
      </button>
    </ng-template>
    
  </mat-toolbar>
</div>
