<div class="content-wrapper">

  <a routerLink="/add">
    <h1 class="titre">{{titre}}</h1>
  </a>

  <mat-stepper class="form" orientation="vertical" [linear]="isLinear" #stepper>
    
    <mat-step [stepControl]="devoirForm">
      <form [formGroup]="devoirForm">
        <ng-template matStepLabel>Remplissez les informations concernant le devoir</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nom du devoir</mat-label>
          <input matInput placeholder="Nom du devoir" [(ngModel)]="nomDevoir" formControlName="nomDevoir" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description du devoir</mat-label>
          <input matInput placeholder="Description du devoir" [(ngModel)]="description" formControlName="description" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date de rendu</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="dateDeRendu"
            name="date"
            formControlName="dateDeRendu"
            required
            readonly="readonly"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="((!nomDevoir)||(!description)||(!dateDeRendu))">Suivant</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="professeurForm" label="Remplissez les données du professeur">
      <form [formGroup]="professeurForm">
        <mat-form-field appearance="fill">
          <mat-label>Nom de la matière</mat-label>
          <input matInput formControlName="matiere" placeholder="Nom de la matière" [(ngModel)]="matiere"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nom du professeur</mat-label>
          <input matInput formControlName="professeur" placeholder="Nom du professeur" [(ngModel)]="professeur"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Lien photo professeur</mat-label>
          <input matInput formControlName="image" placeholder="Lien de la photo du professeur" [(ngModel)]="image"
                 required>
        </mat-form-field>

        <br>Ou sélectionnez une matière enregistrée<br><br>

        <mat-form-field appearance="fill">
          <mat-label>Matières enregistrées</mat-label>
          <select #matieres (change)="onChangeMatiere(matieres.value)" name="selectMatiere" matNativeControl>
            <option value="aucun">Aucun</option>
            <option value="francais">Français - Monsieur Robert</option>
            <option value="math">Mathématiques - Boukobza</option>
            <option value="svt">SVT - Madame Fernandi</option>
            <option value="anglais">Anglais - Madame Sisi</option>
            <option value="angular">Angular - Monsieur Buffa</option>
          </select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext [disabled]="((!matiere)||(!professeur)||(!image))">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="classeForm" label="Remplissez les données concernant la classe">
      <form [formGroup]="classeForm">
        <mat-form-field appearance="fill">
          <mat-label>Nom de la classe</mat-label>
          <input matInput formControlName="classe" placeholder="Nom de la classe" [(ngModel)]="classe"
                 required>
        </mat-form-field>
        
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext [disabled]="!classe" (click)="ajouterDevoir()" >Ajouter devoir</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Devoir envoyé !</ng-template>
      <p>Le devoir a bien été ajouté</p>
      <div>
        <button mat-button (click)="stepper.reset()">Réinitialiser formulaire</button>
      </div>
    </mat-step>

  </mat-stepper>

</div>
