<div class="content-wrapper">

  <a routerLink="/add">
    <h1 class="titre">{{titre}}</h1>
  </a>




  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>


<!-- 

  <form
    (submit)="onSubmit(); assignmentForm.reset()"
    ngForm
    #assignmentForm
    class="form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Nom du devoir</mat-label>
      <input matInput [(ngModel)]="nomDevoir" name="nom" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom du professeur</mat-label>
      <input matInput [(ngModel)]="professeur" name="professeur" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description du devoir</mat-label>
      <input matInput [(ngModel)]="description" name="description" />
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Nom de la matière</mat-label>
      <input matInput [(ngModel)]="matiere" name="matiere" />
    </mat-form-field>

    
    <mat-form-field appearance="outline">
      <mat-label>Classe</mat-label>
      <input matInput [(ngModel)]="classe" name="classe" />
    </mat-form-field>

    
    <mat-form-field appearance="outline">
      <mat-label>Lien de la photo du professeur</mat-label>
      <input matInput [(ngModel)]="image" name="image" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de rendu</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dateDeRendu"
        name="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="((!nomDevoir)||(!professeur)||(!description)||(!matiere)||(!classe)||(!image)||(!dateDeRendu))"> Ajouter un devoir</button>
  </form> -->
  
</div>
