<div class="content-wrapper">
  <div class="info-container">
      <h1 class="login-title">Connexion</h1>
      <p class="login-subtitle">Bienvenue sur la plateforme de gestion des tâches</p>
  </div>

  <div class="login-container">
      <mat-form-field class="id-field" appearance="outline">
          <mat-label>Identifiant</mat-label>
          <input [(ngModel)]="login" matInput>
      </mat-form-field>

      <mat-form-field class="pwd-field" appearance="outline">
        <mat-label>Entrez votre mot de passe</mat-label>
        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button class="login-btn" type="button" mat-raised-button color="primary" (click)="loginUser()">Se connecter</button>
  </div>  
</div>